.sidebar {
  height: 100vh;
  flex: 0.2;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  background-color: #040404;
}
.sidebar__logo {
  /* object-fit: contain; -> keeps the aspect ratio, ou seja, se puser height e width, ajusta o tamanho para não ficar distorcido*/
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.sidebar__tittle{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}